env
myvenv

.git
.gitignore

SWE573-FALL2021-3/__pycache__/
SWE573-FALL2021-3/*/__pycache__/
SWE573-FALL2021-3/*/*/__pycache__/
SWE573-FALL2021-3/*/*/*/__pycache__/

landing/__pycache__/
landing/*/__pycache__/
landing/*/*/__pycache__/
landing/*/*/*/__pycache__/

users/__pycache__/
users/*/__pycache__/
users/*/*/__pycache__/
users/*/*/*/__pycache__/